<h1>All Students</h1>

<ul>
  <% for student in @students %>
    <li>Name: <a href="/students/<%= student.id %>"><%=student.first_name%> <%=student.last_name%></a><br>House: <%=student.house%><br>Age: <%=student.age%></li>
  <% end %>
</ul>
